## --- Unity ---
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]serSettings/

# --- Pliki rozwiązań (Generowane przez Unity) ---
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# --- Visual Studio ---
.vs/
.vsconfig
DerivedData/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# --- Systemowe ---
.DS_Store
Thumbs.db

# --- Asset Store (opcjonalne, ale zalecane) ---
# Jeśli pobierasz assety, często lepiej trzymać ich paczki .unitypackage poza gitem
*.unitypackage
